*,
*:after,
*:before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}
header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
}
img{
    height: 100px;
}
h1{
    padding-left: 100px;
    font-size: 2rem;
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 3% 3% 3%;
}
button{
    height: 9em;
    width: 23em;
    border-radius: 20px;
    transition: all 0.5s ease;
}
button:hover{
    cursor: pointer;
    background-color: rgb(139, 219, 129);
    transform: scale(1.1);
}
p{
    font-size: 1.9em;
}